body {
  color: #05264e;
  font-family: Plus Jakarta Sans, sans-serif;
  font-style: normal;
}

.box-banner {
  background-color: #f2f6fd;
  border-radius: 16px;
}

.box-banner-header {
  font-size: 28px !important;
}
.box-banner-header-22Jobs {
  color: #3c65f5;
  padding: 5px;
}

.box-banner-text {
  color: #66789c;
  font-weight: 500;
  font-size: 18px !important;
  line-height: 22px !important;
}

.box-banner-image1 {
  position: absolute;
  left: 76%;
}

.box-banner-image2 {
  position: absolute;
  right: 76%;
}

@media screen and (max-width: 1200px) {
  .box-banner-image1 {
    display: none;
  }
  .box-banner-image2 {
    display: none;
  }
}

.searchBar {
  background: #fff;
  box-shadow: 0 18px 40px rgba(25, 15, 9, 0.1);
  display: inline-block;
  margin: 10% -7%;
  width: 123%;
  border-radius: 10px !important;
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .searchBar {
    width: 113%;
    padding: 0px;
  }
}
.search-job-image {
  position: relative;
}

.head-border {
  border-bottom: 1px solid #b4c0e0;
  padding-bottom: 10px;
}

.link-reset {
  font-size: 14px;
  color: #66789c;
  float: right;
  text-decoration: none;
}

.form-group {
  position: relative;
}

.form-icons {
  padding-left: 50px !important;
}

.form-control {
  border: 1px solid #e0e6f7;
  padding: 10px;
  width: 300px;
}

.location-icon {
  right: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-size: 18px;
  color: #a0abb8;
  width: 25px;
}

.ul,
li {
  list-style: none !important;
}

.list-checkbox {
  display: inline-block;
  width: 100%;
  padding: 15px 0 10px;
  border-bottom: 1px solid #e0e6f7;
}

.filter-category-industry {
  display: block;
  position: relative;
  cursor: pointer;
}

.text-small {
  font-weight: 500;
  font-size: 18px;
  color: #4f5e64;
  line-height: 22px;
  padding-left: 20px;
}

.number-item {
  padding: 1px 5px;
  background: #e0e6f7;
  color: #3c65f5;
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  border-radius: 7px;
  right: 0px;
}
