
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.img-container {
    padding: 30px 0;
}

.download-btn {
    padding: 18px 30px 18px 65px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    border-radius: 6px;
}

@media (min-width:992px) and (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .container {
        max-width: 730px;
    }
}

@media (min-width:576px) and (max-width:768px) {
    .container {
        max-width: 550px;
    }
}

