.applyjob {
    height: 100%;
    width: 100%;
}
.header {
   padding: 30px 0;
   border-bottom: 1px solid #dee2e6;
}
.header::after{
    content:"";


}
.img-container img {
    border-radius: 12px;
    height: 100%;
    width: 100%;
}
.title-container {
    display: flex;
    align-items: center;
    
    padding: 20px;
}
.title p{
    font-size: 2rem;
    font-weight: 600;
}
.apply-btn {
    color: #fff;
    border:1px solid ;
    outline: transparent;
    background-color:  #3c65f5;
    border-radius: 7px;
    padding: 10px 10px;
} 
