@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: Plus Jakarta Sans,sans-serif;
}
.app{
    padding: 0 50px;
    height: 100%;
    width: 100%;
}
@media (max-width:680px) {
    .app {
        padding: 0 10px;
    }
}

h2 {
    font-size: 36px;
    line-height: 45px;
}
input {
    outline: transparent;
}