@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: Plus Jakarta Sans,sans-serif;
}
.app{
    padding: 0 50px;
    height: 100%;
    width: 100%;
}
@media (max-width:680px) {
    .app {
        padding: 0 10px;
    }
}

h2 {
    font-size: 36px;
    line-height: 45px;
}
input {
    outline: transparent;
}

.home-image1 {
    animation: animation-bouncey 2s linear infinite alternate;
}

@keyframes animation-bouncey {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(50px);
    }
}

.home-image2 {
    animation: animation-bouncex 2s linear infinite alternate;
}

@keyframes animation-bouncex {
    0% {
        transform: translateX(90px);
    }

    100% {
        transform: translateX(30px);
    }
}

.footer .footer-col1 {
    flex: 0 0 auto;
    width: 30%;
}

.footer .footer-col2, .footer .footer-col3, .footer .footer-col4 {
    flex: 0 0 auto;
    width: 15%;
}

@media (max-width:992px) {
    .footer .footer-col1, .footer .footer-col2, .footer .footer-col3, .footer .footer-col4 {
        width: 33.3%;
        margin-bottom: 20px;
    }
}
@media (max-width:768px) {
    .footer .footer-col1, .footer .footer-col2, .footer .footer-col3, .footer .footer-col4 {
        width: 50%;
    }
}

@media (max-width:576px) {
    .footer .footer-col1, .footer .footer-col2, .footer .footer-col3, .footer .footer-col4 {
        width: 100%;
        margin-bottom: 20px;
    }
}